/* CSS Document */
/* Set the color scheme for the page */
@media (prefers-color-scheme: light) {
    body { background-color: white; color: black; }
}
@media (prefers-color-scheme: dark) {
    body { background-color: black; color: white; }
}

body { 
    width: 35em;
    margin: 0 auto;
    font-family: JetBrains Mono, monospace;
}

h1 { 
    font-size: 25pt;
    font-weight: bold;
    margin: 5px;
}